<nav class="navbar">
  <div class="content_imagen logo">
    <img src="../../../../assets/LogoMenu.png" alt="listo">
  </div>
  <div class="content_anchor">
    <div class="content" >
      <div class="content_imagen">
        <img class="svg_color" src="../../../../assets/download1_78499.svg" alt="">
      </div>
      <a href="">Descargas</a>
    </div>
    <div class="content">
      <div class="content_imagen">
        <img src="../../../../assets/banco.svg" alt="">
      </div>
      <a href="">Financiero</a>
    </div>
    <div class="content">
      <div class="content_imagen">
        <img src="../../../../assets/headphones.svg" alt="">
      </div>
      <a href="">Soporte</a>
    </div>
  </div>
</nav>
