<footer>
  <div class="info">
    <div class="info">
      <div class="content_image">
        <img src="../../../../assets/call.svg" alt="">
      </div>
      <div>
        <p>¡Llamanos ahora! +57 314 854 8127</p>
      </div>
    </div>
    <div class="info">
      <div class="content_image">
        <img src="../../../../assets/mail.svg" alt="">
      </div>
      <div>
        <p>info&#64;playtechla.com</p>
      </div>
    </div>
  </div>
  <div class="redes">
    <div class="content_image">
      <img class="img_redes" src="../../../../assets/instagram.svg" alt="">
    </div>
    <div class="content_image">
      <img class="img_redes" src="../../../../assets/FB_icon.svg" alt="">
    </div>
    <div class="content_image">
      <img class="img_redes" src="../../../../assets/TWITTER.svg" alt="">
    </div>
    <div class="content_image">
      <img class="img_redes" src="../../../../assets/whatsapp.svg" alt="">
    </div>
  </div>
</footer>
