<form class="form" [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
  <h1>Inicio de sesión</h1>
  <div class="flex-column">
    <label>Usuario* </label>
  </div>
  <div class="inputForm">
    <input type="text" class="input" placeholder="Ingresa tu usuario" formControlName="User" id="User" >
  </div>

  <div class="flex-column">
    <label>Clave* </label>
  </div>
  <div class="inputForm">
    <input type="password" class="input" placeholder="Ingresa tu contraseña" formControlName="Clave" id="Clave" >
    <div class="eye">
      <img src="../../../assets/eye-blocked.svg" alt="">
    </div>
  </div>

  <div class="flex-row">
    <div>
      <label class="text">¿Olvidaste tu contraseña?</label>
    </div>
  </div>
  <div class="pos_buton">
    <button type="submit" class="button-submit">Validar</button>
  </div>
</form>
