<div class="carousel-container">
  <div class="carousel-track" [style.transform]="'translateX(' + -currentIndex * 100 + '%)'">
    <div class="carousel-item" *ngFor="let item of items; let i = index" [style.width]="'calc(100% / ' + items.length + ')'">
      <!-- Conteúdo do slide -->
      <img [src]="item.image" alt="Slide {{ i + 1 }}" />
    </div>
  </div>

  <button class="carousel-nav prev" (click)="prevSlide()">&#60;</button>
  <button class="carousel-nav next" (click)="nextSlide()">&#62;</button>
</div>

