/* Reset CSS */

/* Box sizing border-box por padrão */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Remover margens e preenchimentos padrão */
body,
h1, h2, h3, h4, h5, h6,
p, figure,
blockquote, dl, dd, ol, ul,
fieldset, legend {
  margin: 0;
  padding: 0;
}

/* Remover estilo padrão da lista */
ul, ol {
  list-style: none;
}

/* Configurar fonte padrão e tamanho de texto para o corpo */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

/* Remover decoração de link padrão */
a {
  text-decoration: none;
}

/* Remover borda padrão dos elementos focados */
button:focus, input:focus, select:focus, textarea:focus {
  outline: none;
}

/* Normalizar elementos de formulário */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

/* Limpar estilo de botão padrão */
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
}

/* Adicione mais estilos de reset conforme necessário */


:root {
  --mobileXs: 400px;
  --mobile: 480px;
  --tablet: 768px;
  --ipad: 820px;
  --screenXs: 880px;
  --screen: 1024px;
  --screenxl: 1069px;
  --desktop: 1200px;
  --large: 1440px;
}
